In [58]:
import pandas as pd
inventory=pd.read_csv("inventory.csv")

new_column_names = ['Product_Name', 'Year_Month', 'Warehouse_Inventory','Inventory_Cost_Per_Unit']
inventory.columns = new_column_names
inventory.shape

(4200, 4)

In [57]:
inventory.head()

,Product_Name,Year_Month,Warehouse_Inventory,Inventory_Cost_Per_Unit
0,Perfect Fitness Perfect Rip Deck,201712,0,0.69517
1,Nike Men's Dri-FIT Victory Golf Polo,201712,2,1.29291
2,O'Brien Men's Neoprene Life Vest,201712,0,0.56531
3,Nike Men's Free 5.0+ Running Shoe,201712,1,1.26321
4,Under Armour Girls' Toddler Spine Surge Runni,201712,0,1.47648

In [59]:
inventory['Product_Name'].value_counts()

Product_Name
Perfect Fitness Perfect Rip Deck                 36
Bag Boy Beverage Holder                          36
Nike Women's Legend V-Neck T-Shirt               36
Titleist Pro V1x High Numbers Golf Balls         36
Glove It Women's Mod Oval Golf Glove             36
                                                 ..
Nike Kids' Grade School KD VI Basketball Shoe    35
Smart watch                                      35
Baby sweater                                     35
Men's gala suit                                  35
Bowflex SelectTech 1090 Dumbbells                35
Name: count, Length: 118, dtype: int64

In [54]:
inventory[['Year_Month','Warehouse_Inventory','Inventory_Cost_Per_Unit']][inventory['Product_Name']=='Perfect Fitness Perfect Rip Deck']

      Year_Month  Warehouse_Inventory  Inventory_Cost_Per_Unit
0         201712                    0                  0.69517
118       201711                    7                  2.30448
236       201710                    2                  2.28291
354       201709                  536                  1.65666
472       201708                  158                  0.56871
590       201707                   37                  2.05885
708       201706                  288                  0.50204
826       201705                  730                  0.94306
944       201704                  621                  0.88657
1062      201703                   57                  0.39551
1180      201702                  679                  0.91894
1298      201701                  529                  0.52827
1416      201612                  674                  0.36383
1534      201611                  411                  1.59273
1652      201610                   12                  1.35987
1770      201609                  582                  1.34924
1888      201608                  931                  1.86713
2006      201607                   51                  2.18387
2124      201606                  211                  1.18549
2242      201605                  884                  2.13911
2360      201604                  481                  2.29265
2478      201603                  543                  1.57635
2596      201602                  261                  2.15078
2714      201601                  613                  2.23883
2832      201512                  495                  0.46164
2950      201511                  391                  1.81173
3068      201510                   48                  1.85482
3186      201509                  550                  0.74463
3304      201508                  508                  1.13131
3422      201507                    1                  1.18831
3540      201506                  462                  2.30411
3658      201505                  624                  0.72904
3776      201504                  633                  1.22875
3894      201503                  542                  1.45609
4012      201502                  675                  0.48195
4130      201501                  254                  0.49486

In [76]:
inventory['Year_Month'] = pd.to_datetime(inventory['Year_Month'], format='%Y%m')
inventory.head()

,Product_Name,Year_Month,Warehouse_Inventory,Inventory_Cost_Per_Unit
0,Perfect Fitness Perfect Rip Deck,2017-12-01,0,0.69517
1,Nike Men's Dri-FIT Victory Golf Polo,2017-12-01,2,1.29291
2,O'Brien Men's Neoprene Life Vest,2017-12-01,0,0.56531
3,Nike Men's Free 5.0+ Running Shoe,2017-12-01,1,1.26321
4,Under Armour Girls' Toddler Spine Surge Runni,2017-12-01,0,1.47648